{% block header %}
  <!-- Хедер -->
  <header id="header">
    <div class="container">
      <h1><a href="{{ site_url }}">{{ name }}</a></h1>
      <h2><span>Python</span>-разработчик</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">{{ sect1 }}</a></li>
          <li><a class="nav-link" href="#resume">{{ sect2 }}</a></li>
          <li><a class="nav-link" href="#portfolio">{{ sect3 }}</a></li>
          <li><a class="nav-link" href="#blog">{{ sect4 }}</a></li>
          <li><a class="nav-link" href="#contact">{{ sect5 }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- Навигация -->

      <div class="recent-posts">
      {% for post in posts %}
<!--        {{ post.title }}-->
<!--        {{ post.date }}-->
<!--        	<small>{{ post.date }}</small>-->
<!--        	<p>-->
<!--          	<h3>-->
<!--            	{{ post.title }}-->
<!--          	</h3>-->
<!--        	<p>-->
<!--          	<i>{{ post.description }}</i>-->
<!--        	</p>-->
<!--         	<p>{{ post.html[:100]|safe }}</p>-->
<!--            	<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"><span>Читать</span></a>-->
<!--        	</p>-->
        	{% endfor %}
        </div>

      <div class="social-links">
        <a href="{{ telegram }}" class="telegram"><i class="fa fa-telegram"></i></a>
        <a href="{{ github }}" class="github"><i class="fa fa-github"></i></a>
        <a href="{{ vk }}" class="vk"><i class="fa fa-vk"></i></a>
        <a href="{{ email }}" class="email"><i class="fa fa-envelope"></i></a>
      </div>
      </div>
  </header><!-- Конец хедера -->    
{% endblock %}