{% block header %}

  <!--Предзагрузка картинок, которые будут меняться анимацией,
  чтобы не мигали при первом появлении во время смены друг друга.-->
  <div style="position:fixed;left:9999px;opacity:0;">
      <img src="./static/img/transparent.jpg">
      <img src="./static/img/bg-1.jpg">
      <img src="./static/img/bg-3.jpg">
      <img src="./static/img/bg-5.jpg">
  </div>

  <!-- Image to make background semi-transparent for some pages.    -->
    <img id="transparent-image" src="./static/img/transparent.jpg">
<!--    <div id="landing-content">-->
<!--&lt;!&ndash;    <section class="slider">&ndash;&gt;-->
<!--        <img src="./static/img/bg-2.jpg">-->
<!--&lt;!&ndash;    </section>&ndash;&gt;-->
<!--    </div>-->



  <!-- Хедер -->
  <header id="header">
    <div class="container">
      <h1><a class="main-title" href="#header">{{ name }}</a></h1>
      <h2><span>Python</span>-разработчик</h2>

      <nav id="navbar" class="navbar">
        <ul>
<!--      <li><a class="nav-link active" href="#header">{{ sect1 }}</a></li>-->
<!--          <li><a class="nav-link" href="#resume">{{ sect2 }}</a></li>-->
          <li><a class="nav-link" href="#portfolio">{{ sect3 }}</a></li>
          <li><a class="nav-link" href="#blog">{{ sect4 }}</a></li>
          <li><a class="nav-link" href="#contact">{{ sect5 }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- Навигация -->

      <div class="recent-posts">
        <div class="block-title">
            <p>Недавно в моём блоге:</p>
        </div>
        <div class="block-content">
            {% set month_rus = { '01': 'декабря', '02': 'февраля', '03': 'марта', '04': 'апреля', '05': 'мая', '06': 'июня', '07': 'июля', '08': 'августа', '09': 'сентября', '10': 'октября', '11': 'ноября', '12': 'января'} %}
            <ul class="posts-list">
            {% for post in recent_posts %}
            <li>
              <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}" data-gallery="blogDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox">

                <!-- Let's set that medium person reads ~1500 symbols a minute.                  -->
                {% if post.body|length < 750 %}
                  {% set time_to_read = "менее минуты на чтение" %}
                {% elif post.body|length < 1500 %}
                  {% set time_to_read = "минута на чтение" %}
                {% else %}
                  {% set minutes_to_read = (post.body|length // 1500) + 1 %}
                  {% set time_to_read = minutes_to_read|string + " мин. на чтение" %}
                {% endif %}

                  <div class="post-title">{{ post.title }}</div>
                  {% set month_string = month_rus[post.date.strftime('%m')] %}
                <div class="post-date">{{ post.date.strftime('%d') + ' ' + month_string}} • {{ time_to_read }} </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        </div>

      <div class="social-links">
          <a href="{{ email }}" target="_blank" class="email"><i class="fa-solid fa-envelope"></i></a>
          <a href="{{ telegram }}" target="_blank" class="telegram"><i class="fa fa-telegram"></i></a>
          <a href="{{ vk }}" target="_blank" class="vk"><i class="fa fa-vk"></i></a>
          <a href="{{ github }}" target="_blank" class="github"><i class="fa fa-github"></i></a>
      </div>



      </div>

  </header>

<!-- Конец хедера -->
{% endblock %}