{% extends "base.html" %}
{% block content %}
<style>
body::before {
	background: #040404 url("{{ url_for('static', filename='img/portfolio/post.jpg') }}");
}
</style>
    {% set month_rus = { '01': 'декабря', '02': 'февраля', '03': 'марта', '04': 'апреля', '05': 'мая', '06': 'июня', '07': 'июля', '08': 'августа', '09': 'сентября', '10': 'октября', '11': 'ноября', '12': 'января'} %}
    <!-- ======= шаблон для поста ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="portfolio-title">{{ post.title }}</h2>
          </div>
          <div class="col-lg-8 portfolio-info">
            <h3>{{ post.description }}</h3>
            {% set month_string = month_rus[post.date.strftime('%m')] %}
            <p class="post-date">{{ post.date.strftime('%d') + ' ' + month_string + ' ' + post.date.strftime('%Y')}}</p>
            <p>
              {{ post.html|safe }}
            </p>
          </div>
        </div>
      </div>
    </div><!-- конец карточки -->
  <!-- конец поста -->
{% endblock %}
